body{
background: #E0E0E0;
  }

.rectangle{
  position: absolute;
  width: 400px;
  height: 300px;
  left: 485px;
  top: 25px;
  background: #384977;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}
.imagem-logo{
  margin-left: 165px;
  margin-top: 100px;
}
  .area-login{
    
  position: absolute;
  width: 484px;
  height: 375px;
  left: 450px;
  top: 350px;
  text-align: center;


  }

.login form{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.login input{
  margin-top: 10px;
  background: rgba(164, 189, 226, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 8px;
  width: 484px;
  height: 67px;
  left: 513px;
  top: 603px;

}

input::placeholder{
  color: white;
  font-size: 14px;

}


form [type="submit"]{
  display: block;
  background-color: #384977;
  font-size: 20px; 
  font-style: normal;
  width: 200px;
  height: 56px;
  text-align: center;
  color: white;
  margin-top: 30px;
  background: #384977;
  border-radius: 20px;

}

.area-login p{
  font-style: normal;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}






  