body{
    background: #E0E0E0;
      }


      .cabecalho img{
        position: absolute;
        width: 220px;
        height: 260px;
        left: -35px;
        top: -50px;
            
           
        }

    .area-medidas{
    
        position: absolute;
        width: 484px;
        height: 375px;
        left: 450px;
        top: 230px;
        text-align: center;
    
    
      }

      .medidas form{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        
    }

    .medidas input{
        margin-top: 10px;
        background: rgba(164, 189, 226, 0.7);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        border-radius: 8px;
        width: 484px;
        height: 67px;
        left: 513px;
        top: 603px;
        
        }

    input::placeholder{
            color: white;
            font-size: 14px;
            
            }

    form [type="submit"]{
      display: block;
      background-color: #384977;
      font-size: 20px; 
      font-style: normal;
      width: 200px;
      height: 56px;
      text-align: center;
      color: white;
                
      background: #384977;
      border-radius: 20px;
              
              }

     .area-login p{
        font-style: normal;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
            
            }

    p{
        font-family: 'Fenix';
        font-style: normal;
        font-weight: 400px;
        font-size: 30px;
        line-height: 45px;
        
        color: #000000;

    }

    .menu{
        position:relative;
        margin: -45px;
        width: 1200px;
        background-color: #384977;
        padding: 100px 100px;
        margin-left: none;
        margin-top: none;
        
            }
        
            .menu li{
        float: left;
        list-style-type: none;
            }
        
            .menu li a{
        color: white;
        margin-right: 10px;
        margin-left: 130px;
        font-size: 20px;
        text-decoration: none;
            }

   